body {
  margin: 0;
  background-color: rgba(235, 235, 235, 0.986);
}
* {
  box-sizing: border-box;
  font-family: vazirmatn, serif;
}
header ul a {
  font-size: large;
  color: gray;
  padding: 10px 20px;
  text-decoration: none;
  line-height: 4rem;
}
header ul a:hover {
  color: rgb(77, 76, 76);
  text-decoration: underline;
}
header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#div1,
#div2,
#div3,
#div4 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: inline-block;
}
header img {
  margin-left: 20px;
}
#div1 {
  background-color: black;
  color: white;
}
#div2 {
  background-color: white;
  color: black;
}
#div3 {
  background-color: rgb(233, 185, 54);
  color: black;
}
#div4 {
  background-color: forestgreen;
  color: white;
}
footer {
  background-color: cadetblue;
  color: grey;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: center;
}
.flex p {
  line-height: 2rem;
}
.container {
  padding: 0, 20px;
}
footer {
  height: 150px;
  background-color: white;
  color: black;
  border-left: 10px solid rgba(235, 235, 235, 0.986);
  border-right: 10px solid rgba(235, 235, 235, 0.986);
  border-bottom: 10px solid rgba(235, 235, 235, 0.986);

  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
  display: flex;
  justify-content: space-around;
}
.contact {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email a {
  color: black;
}
/* font face */
@font-face {
  font-family: Vazirmatn;
  src: url("fonts/webfonts/Vazirmatn-Regular.woff2");

  font-weight: normal;
  font-style: normal;
}
