body {
  margin: 0;
  /* background-color: rgba(235, 235, 235, 0.986); */
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  font-family: vazirmatn, serif;
}
header ul a {
  font-size: large;
  color: gray;
  padding: 10px 20px;
  text-decoration: none;
  line-height: 2rem;
}
header ul a:hover {
  color: rgb(77, 76, 76);
  text-decoration: underline;
}
header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
header {
  background-color: white;
  position: relative;
  /* margin-bottom: 10px; */
  transition: height 0.3s linear;
  display: flex;
  justify-content: right;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid gray;
}

#div1,
#div2,
#div3,
#div4 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aa {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 20px;
  margin-left: 0;
  color: rgba(0, 0, 0, 0.877);
}
.aa img {
  margin-right: 5px;
}

header img {
  margin-left: 20px;
}
#div1 {
  background: linear-gradient(to right, #f7971e, #ffd200);
  color: black;
}
#div2 {
  background: linear-gradient(to right, #d66d75, #e29587);
  color: white;
}
#div3 {
  background: linear-gradient(to right, #cbb4d4, #20002c);
  color: white;
}
#div4 {
  background: linear-gradient(to right, #6190e8, #a7bfe8);
  color: white;
}
footer {
  background-color: cadetblue;
  color: grey;
  border-top: 1px solid gray;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: center;
}
.flex p {
  line-height: 2rem;
}
.container {
  padding: 0, 20px;
}
footer {
  height: 150px;
  background-color: white;
  color: black;
  border-left: 10px solid rgba(235, 235, 235, 0.986);
  border-right: 10px solid rgba(235, 235, 235, 0.986);
  border-bottom: 10px solid rgba(235, 235, 235, 0.986);

  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
  display: flex;
  justify-content: space-around;
}
.contact {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email a {
  color: black;
}

/* bars */
.bars {
  display: none;
  cursor: pointer;
  z-index: 110;
}
.bar {
  background-color: white;
  width: 80%;
  height: 4px;
}
.bar1 {
  transform: translateY(-4px);
  transition: transform 0.3s ease;
}
.bar2 {
  transition: transform 0.3s ease;
}
.bar3 {
  transform: translateY(4px);
  transition: transform 0.3s ease;
}

@media screen and (max-width: 659px) {
  .bars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgb(109, 108, 108);
    position: absolute;
    top: 32px;
    left: 20px;
  }
  header {
    display: block;
  }
  .aa {
    width: max-content;
  }
  header nav ul {
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.3s ease;
    background-color: white;
    transition: all 0.3s linear;
  }
  .change {
    display: block;
  }
  header nav ul.change {
    width: 100%;
    height: 100%;
    padding-top: 100px;
  }
  header nav ul.change li {
    padding: 20px 20px;
    width: 100%;
    cursor: pointer;
  }
  header nav ul.change li:hover a {
    color: white;
  }
  header nav ul.change li:hover {
    background-color: gray;
    color: white;
  }

  header.change {
    height: 100vh;
  }
  .bar1.rotate {
    transform: translateY(4px) rotate(45deg);
  }
  .bar2.rotate {
    visibility: hidden;
  }
  .bar3.rotate {
    transform: translateY(-4px) rotate(-45deg);
  }
}
/* scroll magic classes */
.seconde,
.third,
.fourth {
  opacity: 0;
  transition: all 1s ease;
}

.show {
  opacity: 1;
}
.footer-hide {
  opacity: 0;
  transition: all 1s ease;
}
.footer-show {
  opacity: 1;
}
/* font face */
@font-face {
  font-family: Vazirmatn;
  src: url("fonts/webfonts/Vazirmatn-Regular.woff2");

  font-weight: normal;
  font-style: normal;
}
